APP_NAME=CPublishr API
ENV=local
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://azure_postgres:pushpa1h%40tetears@azurepostgres.postgres.database.azure.com:5432/cpublisher
REDIS_URL=redis://redis:6379/0
